.styler{
  padding :10px;
  border : 1px solid #ececec;
  width:auto;
}

button{
  margin-right:2px;
}

.font-bold {
  font-weight: Bold;
}

.font-italics{
  font-style: italic;
}

.color-red{
  color:red !important;
}

.color-blue{
  color:blue !important;
}

.redBtn{
  color:red;
  background-color: red ;
}

.blueBtn{
  color:blue;
  background-color: blue;
}
