button{
  margin : 0 2px 2px 0;
}

.cells{
    cursor: cell;
}

.styler{
  padding :10px;
  border : 1px solid #ececec;
  width:auto;
}

.font-bold {
  font-weight: Bold;
}

.font-italics{
  font-style: italic;
}

.color-red{
  color:red !important;
}

.color-blue{
  color:blue !important;
}

.redBtn{
  color:red;
  background-color: red ;
}

.blueBtn{
  color:blue;
  background-color: blue;
}

.selected{
  border : 2px solid green !important;
}
